<h1>Portfolio items</h1>

<% @portfolio_items.each do |portfolio_item|%>
  <div>
    <h3>
      <span class="thumb-image"><%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil? %></span>
      <%= portfolio_item.title %>
    </h3>
    <p><%= portfolio_item.subtitle %></p>
    <span><%= portfolio_item.body %></span>
    <%= image_tag portfolio_item.main_image if !portfolio_item.main_image.nil? %>
  </div>
<% end %>
